<div class="price">

  <h2>We don't give a quantity! <span class="slogan_bold">We give the result!</span></h2>

  <div class="row prices">

    <div class="col-lg-4 col-md-4 price_list">
      <h3>LOGO DESIGN</h3>
      <p><span class="discount">from $200</span></p>
      <h4><span class="from">from</span> $149</h4>
      <ul>
        <li>3 logo design concepts</li>
        <li>1 designer</li>
        <li>Unlimited revisions</li>
        <li>3 - 5 days</li>
        <li>Vector and multiple file formats</li>
        <li>Fonts and color codes</li>
        <li>Lifetime file storage</li>
        <li>Satisfaction guaranteed</li>
        <li>Support after project</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 price_list">
      <h3>LOGO DESIGN PLUS</h3>
      <p><span class="discount">from $300</span></p>
      <h4><span class="from">from</span> $249</h4>
      <ul>
        <li>4 logo design concepts</li>
        <li>3 business card design concepts</li>
        <li>1 designer</li>
        <li>Unlimited revisions</li>
        <li>3 - 5 days</li>
        <li>Vector and multiple file formats</li>
        <li>Fonts and color codes</li>
        <li>Lifetime file storage</li>
        <li>Satisfaction guaranteed</li>
        <li>Support after project</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 price_list">
      <h3>BRAND IDENTITY</h3>
      <p><span class="discount">from $500</span></p>
      <h4><span class="from">from</span> $399</h4>
      <ul>
        <li>4 logo design concepts</li>
        <li>3 business card design concepts</li>
        <li>3 letterhead design concepts</li>
        <li>3 envelope design concepts</li>
        <li>Additional design for social media</li>
        <li>2 designer</li>
        <li>Unlimited revisions</li>
        <li>7 - 14 days</li>
        <li>Vector and multiple file formats</li>
        <li>Fonts and color codes</li>
        <li>Lifetime file storage</li>
        <li>Satisfaction guaranteed</li>
        <li>Support after project</li>
      </ul>
    </div>

  </div>

  <h5>Logo Design Process</h5>

  <div class="steps">
    <h6>Step 1. LOGO DETAIL BRIEF</h6>
    <p>Fill out this <a href="https://goo.gl/forms/6cAC24T97AhGyizP2" target="_blank">logo detail form</a> please. It helps us to understand your activity and your needs. Based on your responses we will create a list of objectives that need to be met by the logo design.</p>
  </div>

  <div class="steps">
    <h6>Step 2. PAYMENT 50%</h6>
    <p>You can pay 50% using <a href="https://www.paypal.me/bulbdes">PayPal</a> or you can hire us on <a href="https://www.freelancer.com/hireme/skochkovadym" target="_blank" class="work">Freelancer.com</a> or <a href="https://www.upwork.com/o/profiles/users/_~015adac7bb62ef58a2/" target="_blank" class="work">Upwork</a>. After that we start working on next step.
</p>
  </div>

  <div class="steps">
    <h6>Step 3. RESEARCH & DEVELOP</h6>
    <p>We need some time to research your activity and generate our ideas on paper. Researching is very important part of any design process. We will study your activity and your competitors. Only after good researching we can design a logo that represents the uniqueness of the business or product.
Based on the design brief and research conducted, we sketch ideas and then experimented with them on the special software.
</p>
  </div>

  <div class="steps">
    <h6>Step 4. PRESENTATION & EDIT</h6>
    <p>When we ready to present several concepts, we will send you document which display the logo designs created with explain our decisions. For concept that you'll like, you have unlimited revisions until you will satisfy your needs.
</p>
  </div>

  <div class="steps">
    <h6>Step 5. PAYMENT & DELIVERY</h6>
    <p>Once you are happy with the final design logo, you can pay last 50%, we will prepare files for use on web and print. I will also prepare a document with all logo configuration and file with vector format.
</p>
  </div>

  <div class="steps">
    <h6>Step 6. SUPPORT</h6>
    <p>We provide any technical support after the completion of the project.</p>
  </div>
</div>