<div class="row wrapper">

  <div class="col-xs-12 navigate">
    <nav class="navigate_type">
      <a [routerLink]="['/portfolio', {type: 'logo'}]" [ngClass]="{router_active: type == 'logo' || !type}" (click)="checkUrl('logo')">Logo</a>
      <a [routerLink]="['/portfolio', {type: 'print'}]" [ngClass]="{router_active: type == 'print'}" (click)="checkUrl('print')">Print</a>
     <!-- <a [routerLink]="['/portfolio', {type: 'web'}]" [ngClass]="{router_active: type == 'web'}" (click)="checkUrl('web')">Web</a>-->
    </nav>
  </div>

  <div 
       *ngFor="let project of projects; let i = index"
       class="col-md-6 col-xs-6 col-lg-4 project"
       (click)="selectProject(project.url)">

    <div class="project-wrapper">
      <div class="project-shadow">
        <span class="project-number">{{ i + 1 < 10 ? '0' + (i + 1) : i + 1 }}</span>
        <h4 class="project-name">
          {{ project.name }}
        </h4>
      </div>
      <img src="{{ project.avatar }}" class="project_img"/>
    </div>

  </div>
</div>