.header {
  margin-top: 40px;
}

.mobile_navbar {
  display: none;
}

.brand {
  text-align: right;
    padding: 0;
}

.brand a:hover {
    text-decoration: none;
}

.logo {
    margin-top: 30px;
    margin-right: 0;
    padding: 0;
    width: 90%;
    text-decoration: none;
    color: #d4d4d4;
}

.scrollTop {
  width: 20px;
  height: 20px;
  color: white;
  position: fixed;
  bottom: 3%;
  left: 3%;
  border: solid #d4d4d4;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
  z-index: 110;
  transition: 1s;
  animation: showArrow 1s ease-out forwards;
}
  
  @media screen and (max-width: 767px) {
    .header {
   margin-top: 75px;
 }

 .navbar {
    display: none;
  }
 .mobile_navbar {
   display: block;
 }

 .logo {
   width: 100px;
 }

 .brand {
   position: fixed;
   right: 40px;
   top: -20px;
   z-index: 100;
 }
}

@keyframes showArrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .brand {
    top: -20px;
    right: 70px;
  }
}