<div class="mobile_navbar">
    <mobile-navbar></mobile-navbar>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2 brand">
      <a routerLink="/works"><img class="logo" src="assets/logo.png" /> </a>
    </div>
  </div>
  
</div>
<div class="container header">
  <div class="row">
    <nav class="col-md-3 col-sm-3 col-lg-2 navbar">
      <navbar [ngClass]="{'navbar_fixed': menu}" (scroll)="onScroll($event)"></navbar>
    </nav>
    <div class="col-md-9 col-sm-9 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer></footer>