/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(to right, #200122, #6f0000);  /*linear-gradient(to right, #c33764, #1d2671);*/
  /*background: linear-gradient(to right, #c33764, #1d2671);*/

  background-attachment: fixed;
  font-family: Open Sans;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}

input {
  outline: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}