/* You can add global styles to this file, and also import other style files */

body {
  background: url(assets/bg.png);
  background-attachment: fixed;
  font-family: Open Sans;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}

input {
  outline: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}